<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="semantic/dist/components/dropdown.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.min.css">

    <script src="/javascripts/xhrAccess.js"></script>
    <link rel=stylesheet href="CodeMirror/lib/codemirror.css">
    <script src="/CodeMirror/lib/codemirror.js"></script>
    <script src="/CodeMirror/mode/xml/xml.js"></script>
    <script src="/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="/CodeMirror/mode/python/python.js"></script>
    <script src="/CodeMirror/mode/css/css.js"></script>
    <script src="/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/CodeMirror/addon/edit/matchbrackets.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= subTitle %></p>
    <!--
    <form action="/regist" method="post">
        <input type="submit" value="送信(Token無)">
    </form>
    -->


    <form action="/" method="post">

        <div class="wrapper">
          <div class="box header">
              <input id="token" type="hidden" name="_csrf" value="<%= reqCsrf %>">
              <input type="submit" value="Translate" class="btn-square">
              <!-- -->
              <div class="ui fluid search selection dropdown">
                <input type="hidden" name="country">
                <div class="default text">Select Country</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                    <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                    <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
                    <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
                    <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
                    <div class="item" data-value="as"><i class="as flag"></i>American Samoa</div>
                    <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>
                    <div class="item" data-value="ao"><i class="ao flag"></i>Angola</div>
                    <div class="item" data-value="ai"><i class="ai flag"></i>Anguilla</div>
                    <div class="item" data-value="ag"><i class="ag flag"></i>Antigua</div>
                    <div class="item" data-value="ar"><i class="ar flag"></i>Argentina</div>
                    <div class="item" data-value="am"><i class="am flag"></i>Armenia</div>
                    <div class="item" data-value="aw"><i class="aw flag"></i>Aruba</div>
                    <div class="item" data-value="au"><i class="au flag"></i>Australia</div>
                    <div class="item" data-value="at"><i class="at flag"></i>Austria</div>
                    <div class="item" data-value="az"><i class="az flag"></i>Azerbaijan</div>
                    <div class="item" data-value="bs"><i class="bs flag"></i>Bahamas</div>
                    <div class="item" data-value="bh"><i class="bh flag"></i>Bahrain</div>
                    <div class="item" data-value="bd"><i class="bd flag"></i>Bangladesh</div>
                    <div class="item" data-value="bb"><i class="bb flag"></i>Barbados</div>
                    <div class="item" data-value="by"><i class="by flag"></i>Belarus</div>
                    <div class="item" data-value="be"><i class="be flag"></i>Belgium</div>
                    <div class="item" data-value="bz"><i class="bz flag"></i>Belize</div>
                    <div class="item" data-value="bj"><i class="bj flag"></i>Benin</div>
                    <div class="item" data-value="bm"><i class="bm flag"></i>Bermuda</div>
                    <div class="item" data-value="bt"><i class="bt flag"></i>Bhutan</div>
                    <div class="item" data-value="bo"><i class="bo flag"></i>Bolivia</div>
                    <div class="item" data-value="ba"><i class="ba flag"></i>Bosnia</div>
                    <div class="item" data-value="bw"><i class="bw flag"></i>Botswana</div>
                    <div class="item" data-value="bv"><i class="bv flag"></i>Bouvet Island</div>
                    <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
                    <div class="item" data-value="vg"><i class="vg flag"></i>British Virgin Islands</div>
                    <div class="item" data-value="bn"><i class="bn flag"></i>Brunei</div>
                    <div class="item" data-value="bg"><i class="bg flag"></i>Bulgaria</div>
                    <div class="item" data-value="bf"><i class="bf flag"></i>Burkina Faso</div>
                    <div class="item" data-value="mm"><i class="mm flag"></i>Burma</div>
                    <div class="item" data-value="bi"><i class="bi flag"></i>Burundi</div>
                    <div class="item" data-value="tc"><i class="tc flag"></i>Caicos Islands</div>
                    <div class="item" data-value="kh"><i class="kh flag"></i>Cambodia</div>
                    <div class="item" data-value="cm"><i class="cm flag"></i>Cameroon</div>
                    <div class="item" data-value="ca"><i class="ca flag"></i>Canada</div>
                    <div class="item" data-value="cv"><i class="cv flag"></i>Cape Verde</div>
                    <div class="item" data-value="ky"><i class="ky flag"></i>Cayman Islands</div>
                    <div class="item" data-value="cf"><i class="cf flag"></i>Central African Republic</div>
                    <div class="item" data-value="td"><i class="td flag"></i>Chad</div>
                    <div class="item" data-value="cl"><i class="cl flag"></i>Chile</div>
                    <div class="item" data-value="cn"><i class="cn flag"></i>China</div>
                    <div class="item" data-value="cx"><i class="cx flag"></i>Christmas Island</div>
                    <div class="item" data-value="cc"><i class="cc flag"></i>Cocos Islands</div>
                    <div class="item" data-value="co"><i class="co flag"></i>Colombia</div>
                    <div class="item" data-value="km"><i class="km flag"></i>Comoros</div>
                    <div class="item" data-value="cg"><i class="cg flag"></i>Congo Brazzaville</div>
                    <div class="item" data-value="cd"><i class="cd flag"></i>Congo</div>
                    <div class="item" data-value="ck"><i class="ck flag"></i>Cook Islands</div>
                    <div class="item" data-value="cr"><i class="cr flag"></i>Costa Rica</div>
                    <div class="item" data-value="ci"><i class="ci flag"></i>Cote Divoire</div>
                    <div class="item" data-value="hr"><i class="hr flag"></i>Croatia</div>
                    <div class="item" data-value="cu"><i class="cu flag"></i>Cuba</div>
                    <div class="item" data-value="cy"><i class="cy flag"></i>Cyprus</div>
                    <div class="item" data-value="cz"><i class="cz flag"></i>Czech Republic</div>
                    <div class="item" data-value="dk"><i class="dk flag"></i>Denmark</div>
                    <div class="item" data-value="dj"><i class="dj flag"></i>Djibouti</div>
                    <div class="item" data-value="dm"><i class="dm flag"></i>Dominica</div>
                    <div class="item" data-value="do"><i class="do flag"></i>Dominican Republic</div>
                    <div class="item" data-value="ec"><i class="ec flag"></i>Ecuador</div>
                    <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
                    <div class="item" data-value="sv"><i class="sv flag"></i>El Salvador</div>
                    <div class="item" data-value="gb"><i class="gb flag"></i>England</div>
                    <div class="item" data-value="gq"><i class="gq flag"></i>Equatorial Guinea</div>
                    <div class="item" data-value="er"><i class="er flag"></i>Eritrea</div>
                    <div class="item" data-value="ee"><i class="ee flag"></i>Estonia</div>
                    <div class="item" data-value="et"><i class="et flag"></i>Ethiopia</div>
                    <div class="item" data-value="eu"><i class="eu flag"></i>European Union</div>
                    <div class="item" data-value="fk"><i class="fk flag"></i>Falkland Islands</div>
                    <div class="item" data-value="fo"><i class="fo flag"></i>Faroe Islands</div>
                    <div class="item" data-value="fj"><i class="fj flag"></i>Fiji</div>
                    <div class="item" data-value="fi"><i class="fi flag"></i>Finland</div>
                    <div class="item" data-value="fr"><i class="fr flag"></i>France</div>
                    <div class="item" data-value="gf"><i class="gf flag"></i>French Guiana</div>
                    <div class="item" data-value="pf"><i class="pf flag"></i>French Polynesia</div>
                    <div class="item" data-value="tf"><i class="tf flag"></i>French Territories</div>
                    <div class="item" data-value="ga"><i class="ga flag"></i>Gabon</div>
                    <div class="item" data-value="gm"><i class="gm flag"></i>Gambia</div>
                    <div class="item" data-value="ge"><i class="ge flag"></i>Georgia</div>
                    <div class="item" data-value="de"><i class="de flag"></i>Germany</div>
                    <div class="item" data-value="gh"><i class="gh flag"></i>Ghana</div>
                    <div class="item" data-value="gi"><i class="gi flag"></i>Gibraltar</div>
                    <div class="item" data-value="gr"><i class="gr flag"></i>Greece</div>
                    <div class="item" data-value="gl"><i class="gl flag"></i>Greenland</div>
                    <div class="item" data-value="gd"><i class="gd flag"></i>Grenada</div>
                    <div class="item" data-value="gp"><i class="gp flag"></i>Guadeloupe</div>
                    <div class="item" data-value="gu"><i class="gu flag"></i>Guam</div>
                    <div class="item" data-value="gt"><i class="gt flag"></i>Guatemala</div>
                    <div class="item" data-value="gw"><i class="gw flag"></i>Guinea-Bissau</div>
                    <div class="item" data-value="gn"><i class="gn flag"></i>Guinea</div>
                    <div class="item" data-value="gy"><i class="gy flag"></i>Guyana</div>
                    <div class="item" data-value="ht"><i class="ht flag"></i>Haiti</div>
                    <div class="item" data-value="hm"><i class="hm flag"></i>Heard Island</div>
                    <div class="item" data-value="hn"><i class="hn flag"></i>Honduras</div>
                    <div class="item" data-value="hk"><i class="hk flag"></i>Hong Kong</div>
                    <div class="item" data-value="hu"><i class="hu flag"></i>Hungary</div>
                    <div class="item" data-value="is"><i class="is flag"></i>Iceland</div>
                    <div class="item" data-value="in"><i class="in flag"></i>India</div>
                    <div class="item" data-value="io"><i class="io flag"></i>Indian Ocean Territory</div>
                    <div class="item" data-value="id"><i class="id flag"></i>Indonesia</div>
                    <div class="item" data-value="ir"><i class="ir flag"></i>Iran</div>
                    <div class="item" data-value="iq"><i class="iq flag"></i>Iraq</div>
                    <div class="item" data-value="ie"><i class="ie flag"></i>Ireland</div>
                    <div class="item" data-value="il"><i class="il flag"></i>Israel</div>
                    <div class="item" data-value="it"><i class="it flag"></i>Italy</div>
                    <div class="item" data-value="jm"><i class="jm flag"></i>Jamaica</div>
                    <div class="item" data-value="jp"><i class="jp flag"></i>Japan</div>
                    <div class="item" data-value="jo"><i class="jo flag"></i>Jordan</div>
                    <div class="item" data-value="kz"><i class="kz flag"></i>Kazakhstan</div>
                    <div class="item" data-value="ke"><i class="ke flag"></i>Kenya</div>
                    <div class="item" data-value="ki"><i class="ki flag"></i>Kiribati</div>
                    <div class="item" data-value="kw"><i class="kw flag"></i>Kuwait</div>
                    <div class="item" data-value="kg"><i class="kg flag"></i>Kyrgyzstan</div>
                    <div class="item" data-value="la"><i class="la flag"></i>Laos</div>
                    <div class="item" data-value="lv"><i class="lv flag"></i>Latvia</div>
                    <div class="item" data-value="lb"><i class="lb flag"></i>Lebanon</div>
                    <div class="item" data-value="ls"><i class="ls flag"></i>Lesotho</div>
                    <div class="item" data-value="lr"><i class="lr flag"></i>Liberia</div>
                    <div class="item" data-value="ly"><i class="ly flag"></i>Libya</div>
                    <div class="item" data-value="li"><i class="li flag"></i>Liechtenstein</div>
                    <div class="item" data-value="lt"><i class="lt flag"></i>Lithuania</div>
                    <div class="item" data-value="lu"><i class="lu flag"></i>Luxembourg</div>
                    <div class="item" data-value="mo"><i class="mo flag"></i>Macau</div>
                    <div class="item" data-value="mk"><i class="mk flag"></i>Macedonia</div>
                    <div class="item" data-value="mg"><i class="mg flag"></i>Madagascar</div>
                    <div class="item" data-value="mw"><i class="mw flag"></i>Malawi</div>
                    <div class="item" data-value="my"><i class="my flag"></i>Malaysia</div>
                    <div class="item" data-value="mv"><i class="mv flag"></i>Maldives</div>
                    <div class="item" data-value="ml"><i class="ml flag"></i>Mali</div>
                    <div class="item" data-value="mt"><i class="mt flag"></i>Malta</div>
                    <div class="item" data-value="mh"><i class="mh flag"></i>Marshall Islands</div>
                    <div class="item" data-value="mq"><i class="mq flag"></i>Martinique</div>
                    <div class="item" data-value="mr"><i class="mr flag"></i>Mauritania</div>
                    <div class="item" data-value="mu"><i class="mu flag"></i>Mauritius</div>
                    <div class="item" data-value="yt"><i class="yt flag"></i>Mayotte</div>
                    <div class="item" data-value="mx"><i class="mx flag"></i>Mexico</div>
                    <div class="item" data-value="fm"><i class="fm flag"></i>Micronesia</div>
                    <div class="item" data-value="md"><i class="md flag"></i>Moldova</div>
                    <div class="item" data-value="mc"><i class="mc flag"></i>Monaco</div>
                    <div class="item" data-value="mn"><i class="mn flag"></i>Mongolia</div>
                    <div class="item" data-value="me"><i class="me flag"></i>Montenegro</div>
                    <div class="item" data-value="ms"><i class="ms flag"></i>Montserrat</div>
                    <div class="item" data-value="ma"><i class="ma flag"></i>Morocco</div>
                    <div class="item" data-value="mz"><i class="mz flag"></i>Mozambique</div>
                    <div class="item" data-value="na"><i class="na flag"></i>Namibia</div>
                    <div class="item" data-value="nr"><i class="nr flag"></i>Nauru</div>
                    <div class="item" data-value="np"><i class="np flag"></i>Nepal</div>
                    <div class="item" data-value="an"><i class="an flag"></i>Netherlands Antilles</div>
                    <div class="item" data-value="nl"><i class="nl flag"></i>Netherlands</div>
                    <div class="item" data-value="nc"><i class="nc flag"></i>New Caledonia</div>
                    <div class="item" data-value="pg"><i class="pg flag"></i>New Guinea</div>
                    <div class="item" data-value="nz"><i class="nz flag"></i>New Zealand</div>
                    <div class="item" data-value="ni"><i class="ni flag"></i>Nicaragua</div>
                    <div class="item" data-value="ne"><i class="ne flag"></i>Niger</div>
                    <div class="item" data-value="ng"><i class="ng flag"></i>Nigeria</div>
                    <div class="item" data-value="nu"><i class="nu flag"></i>Niue</div>
                    <div class="item" data-value="nf"><i class="nf flag"></i>Norfolk Island</div>
                    <div class="item" data-value="kp"><i class="kp flag"></i>North Korea</div>
                    <div class="item" data-value="mp"><i class="mp flag"></i>Northern Mariana Islands</div>
                    <div class="item" data-value="no"><i class="no flag"></i>Norway</div>
                    <div class="item" data-value="om"><i class="om flag"></i>Oman</div>
                    <div class="item" data-value="pk"><i class="pk flag"></i>Pakistan</div>
                    <div class="item" data-value="pw"><i class="pw flag"></i>Palau</div>
                    <div class="item" data-value="ps"><i class="ps flag"></i>Palestine</div>
                    <div class="item" data-value="pa"><i class="pa flag"></i>Panama</div>
                    <div class="item" data-value="py"><i class="py flag"></i>Paraguay</div>
                    <div class="item" data-value="pe"><i class="pe flag"></i>Peru</div>
                    <div class="item" data-value="ph"><i class="ph flag"></i>Philippines</div>
                    <div class="item" data-value="pn"><i class="pn flag"></i>Pitcairn Islands</div>
                    <div class="item" data-value="pl"><i class="pl flag"></i>Poland</div>
                    <div class="item" data-value="pt"><i class="pt flag"></i>Portugal</div>
                    <div class="item" data-value="pr"><i class="pr flag"></i>Puerto Rico</div>
                    <div class="item" data-value="qa"><i class="qa flag"></i>Qatar</div>
                    <div class="item" data-value="re"><i class="re flag"></i>Reunion</div>
                    <div class="item" data-value="ro"><i class="ro flag"></i>Romania</div>
                    <div class="item" data-value="ru"><i class="ru flag"></i>Russia</div>
                    <div class="item" data-value="rw"><i class="rw flag"></i>Rwanda</div>
                    <div class="item" data-value="sh"><i class="sh flag"></i>Saint Helena</div>
                    <div class="item" data-value="kn"><i class="kn flag"></i>Saint Kitts and Nevis</div>
                    <div class="item" data-value="lc"><i class="lc flag"></i>Saint Lucia</div>
                    <div class="item" data-value="pm"><i class="pm flag"></i>Saint Pierre</div>
                    <div class="item" data-value="vc"><i class="vc flag"></i>Saint Vincent</div>
                    <div class="item" data-value="ws"><i class="ws flag"></i>Samoa</div>
                    <div class="item" data-value="sm"><i class="sm flag"></i>San Marino</div>
                    <div class="item" data-value="gs"><i class="gs flag"></i>Sandwich Islands</div>
                    <div class="item" data-value="st"><i class="st flag"></i>Sao Tome</div>
                    <div class="item" data-value="sa"><i class="sa flag"></i>Saudi Arabia</div>
                    <div class="item" data-value="sn"><i class="sn flag"></i>Senegal</div>
                    <div class="item" data-value="cs"><i class="cs flag"></i>Serbia</div>
                    <div class="item" data-value="rs"><i class="rs flag"></i>Serbia</div>
                    <div class="item" data-value="sc"><i class="sc flag"></i>Seychelles</div>
                    <div class="item" data-value="sl"><i class="sl flag"></i>Sierra Leone</div>
                    <div class="item" data-value="sg"><i class="sg flag"></i>Singapore</div>
                    <div class="item" data-value="sk"><i class="sk flag"></i>Slovakia</div>
                    <div class="item" data-value="si"><i class="si flag"></i>Slovenia</div>
                    <div class="item" data-value="sb"><i class="sb flag"></i>Solomon Islands</div>
                    <div class="item" data-value="so"><i class="so flag"></i>Somalia</div>
                    <div class="item" data-value="za"><i class="za flag"></i>South Africa</div>
                    <div class="item" data-value="kr"><i class="kr flag"></i>South Korea</div>
                    <div class="item" data-value="es"><i class="es flag"></i>Spain</div>
                    <div class="item" data-value="lk"><i class="lk flag"></i>Sri Lanka</div>
                    <div class="item" data-value="sd"><i class="sd flag"></i>Sudan</div>
                    <div class="item" data-value="sr"><i class="sr flag"></i>Suriname</div>
                    <div class="item" data-value="sj"><i class="sj flag"></i>Svalbard</div>
                    <div class="item" data-value="sz"><i class="sz flag"></i>Swaziland</div>
                    <div class="item" data-value="se"><i class="se flag"></i>Sweden</div>
                    <div class="item" data-value="ch"><i class="ch flag"></i>Switzerland</div>
                    <div class="item" data-value="sy"><i class="sy flag"></i>Syria</div>
                    <div class="item" data-value="tw"><i class="tw flag"></i>Taiwan</div>
                    <div class="item" data-value="tj"><i class="tj flag"></i>Tajikistan</div>
                    <div class="item" data-value="tz"><i class="tz flag"></i>Tanzania</div>
                    <div class="item" data-value="th"><i class="th flag"></i>Thailand</div>
                    <div class="item" data-value="tl"><i class="tl flag"></i>Timorleste</div>
                    <div class="item" data-value="tg"><i class="tg flag"></i>Togo</div>
                    <div class="item" data-value="tk"><i class="tk flag"></i>Tokelau</div>
                    <div class="item" data-value="to"><i class="to flag"></i>Tonga</div>
                    <div class="item" data-value="tt"><i class="tt flag"></i>Trinidad</div>
                    <div class="item" data-value="tn"><i class="tn flag"></i>Tunisia</div>
                    <div class="item" data-value="tr"><i class="tr flag"></i>Turkey</div>
                    <div class="item" data-value="tm"><i class="tm flag"></i>Turkmenistan</div>
                    <div class="item" data-value="tv"><i class="tv flag"></i>Tuvalu</div>
                    <div class="item" data-value="ug"><i class="ug flag"></i>Uganda</div>
                    <div class="item" data-value="ua"><i class="ua flag"></i>Ukraine</div>
                    <div class="item" data-value="ae"><i class="ae flag"></i>United Arab Emirates</div>
                    <div class="item" data-value="us"><i class="us flag"></i>United States</div>
                    <div class="item" data-value="uy"><i class="uy flag"></i>Uruguay</div>
                    <div class="item" data-value="um"><i class="um flag"></i>Us Minor Islands</div>
                    <div class="item" data-value="vi"><i class="vi flag"></i>Us Virgin Islands</div>
                    <div class="item" data-value="uz"><i class="uz flag"></i>Uzbekistan</div>
                    <div class="item" data-value="vu"><i class="vu flag"></i>Vanuatu</div>
                    <div class="item" data-value="va"><i class="va flag"></i>Vatican City</div>
                    <div class="item" data-value="ve"><i class="ve flag"></i>Venezuela</div>
                    <div class="item" data-value="vn"><i class="vn flag"></i>Vietnam</div>
                    <div class="item" data-value="wf"><i class="wf flag"></i>Wallis and Futuna</div>
                    <div class="item" data-value="eh"><i class="eh flag"></i>Western Sahara</div>
                    <div class="item" data-value="ye"><i class="ye flag"></i>Yemen</div>
                    <div class="item" data-value="zm"><i class="zm flag"></i>Zambia</div>
                    <div class="item" data-value="zw"><i class="zw flag"></i>Zimbabwe</div>
                  </div>
               </div>

              <script>
              $(function() {
                  $('.ui.dropdown').dropdown();
              });
              </script>

              <select name="select_hl" id="select_hl">
                  <option value="af:af:0:za">Afrikaans - af</option>
                  <option value="ar:ar:1:arab">العربية - ar</option>
                  <option value="ar:ary:1:ma">العربية المغربية - ary</option>
                  <option value="az:az:0:az">Azərbaycan - az</option>
                  <option value="az:azb:1:az">گؤنئی آذربایجان - azb</option>
                  <option value="be:bel:0:by">Беларуская мова - bel</option>
                  <option value="bg:bg_BG:0:bg">български - bg_BG</option>
                  <option value="bn:bn_BD:0:bd">বাংলা - bn_BD</option>
                  <option value="bs:bs_BA:0:ba">Bosanski - bs_BA</option>
                  <option value="ca:ca:0:catalonia">Català - ca</option>
                  <option value="ceb:ceb:0:ph">Cebuano - ceb</option>
                  <option value="cs:cs_CZ:0:cz">Čeština - cs_CZ</option>
                  <option value="cy:cy:0:wales">Cymraeg - cy</option>
                  <option value="da:da_DK:0:dk">Dansk - da_DK</option>
                  <option value="de:de_CH:0:ch">Deutsch - de_CH</option>
                  <option value="de:de_CH_informal:0:ch">Deutsch - de_CH_informal</option>
                  <option value="de:de_DE:0:de">Deutsch - de_DE</option>
                  <option value="de:de_DE_formal:0:de">Deutsch - de_DE_formal</option>
                  <option value="el:el:0:gr">Ελληνικά - el</option>
                  <option value="en:en_AU:0:au">English - en_AU</option>
                  <option value="en:en_CA:0:ca">English - en_CA</option>
                  <option value="en:en_GB:0:gb">English - en_GB</option>
                  <option value="en:en_NZ:0:nz">English - en_NZ</option>
                  <option value="en:en_US:0:us" selected>English - en_US</option>
                  <option value="en:en_ZA:0:za">English - en_ZA</option>
                  <option value="eo:eo:0:esperanto">Esperanto - eo</option>
                  <option value="es:es_AR:0:ar">Español - es_AR</option>
                  <option value="es:es_CL:0:cl">Español - es_CL</option>
                  <option value="es:es_CO:0:co">Español - es_CO</option>
                  <option value="es:es_ES:0:es">Español - es_ES</option>
                  <option value="es:es_GT:0:gt">Español - es_GT</option>
                  <option value="es:es_MX:0:mx">Español - es_MX</option>
                  <option value="es:es_PE:0:pe">Español - es_PE</option>
                  <option value="es:es_VE:0:ve">Español - es_VE</option>
                  <option value="et:et:0:ee">Eesti - et</option>
                  <option value="eu:eu:0:basque">Euskara - eu</option>
                  <option value="fa:fa_AF:1:af">فارسی - fa_AF</option>
                  <option value="fa:fa_IR:1:ir">فارسی - fa_IR</option>
                  <option value="fi:fi:0:fi">Suomi - fi</option>
                  <option value="fo:fo:0:fo">Føroyskt - fo</option>
                  <option value="fr:fr_BE:0:be">Français - fr_BE</option>
                  <option value="fr:fr_CA:0:quebec">Français - fr_CA</option>
                  <option value="fr:fr_FR:0:fr">Français - fr_FR</option>
                  <option value="fy:fy:0:nl">Frysk - fy</option>
                  <option value="gd:gd:0:scotland">Gàidhlig - gd</option>
                  <option value="gl:gl_ES:0:galicia">Galego - gl_ES</option>
                  <option value="haz:haz:1:af">هزاره گی - haz</option>
                  <option value="he:he_IL:1:il">עברית - he_IL</option>
                  <option value="hi:hi_IN:0:in">हिन्दी - hi_IN</option>
                  <option value="hr:hr:0:hr">Hrvatski - hr</option>
                  <option value="hu:hu_HU:0:hu">Magyar - hu_HU</option>
                  <option value="hy:hy:0:am">Հայերեն - hy</option>
                  <option value="id:id_ID:0:id">Bahasa Indonesia - id_ID</option>
                  <option value="is:is_IS:0:is">Íslenska - is_IS</option>
                  <option value="it:it_IT:0:it">Italiano - it_IT</option>
                  <option value="ja:ja:0:jp">日本語 - ja</option>
                  <option value="jv:jv_ID:0:id">Basa Jawa - jv_ID</option>
                  <option value="ka:ka_GE:0:ge">ქართული - ka_GE</option>
                  <option value="kk:kk:0:kz">Қазақ тілі - kk</option>
                  <option value="ko:ko_KR:0:kr">한국어 - ko_KR</option>
                  <option value="ku:ckb:1:kurdistan">کوردی - ckb</option>
                  <option value="lo:lo:0:la">ພາສາລາວ - lo</option>
                  <option value="lt:lt_LT:0:lt">Lietuviškai - lt_LT</option>
                  <option value="lv:lv:0:lv">Latviešu valoda - lv</option>
                  <option value="mk:mk_MK:0:mk">македонски јазик - mk_MK</option>
                  <option value="mn:mn:0:mn">Монгол хэл - mn</option>
                  <option value="mr:mr:0:in">मराठी - mr</option>
                  <option value="ms:ms_MY:0:my">Bahasa Melayu - ms_MY</option>
                  <option value="my:my_MM:0:mm">ဗမာစာ - my_MM</option>
                  <option value="nb:nb_NO:0:no">Norsk Bokmål - nb_NO</option>
                  <option value="ne:ne_NP:0:np">नेपाली - ne_NP</option>
                  <option value="nl:nl_NL:0:nl">Nederlands - nl_NL</option>
                  <option value="nl:nl_NL_formal:0:nl">Nederlands - nl_NL_formal</option>
                  <option value="nn:nn_NO:0:no">Norsk Nynorsk - nn_NO</option>
                  <option value="oc:oci:0:occitania">Occitan - oci</option>
                  <option value="pl:pl_PL:0:pl">Polski - pl_PL</option>
                  <option value="ps:ps:1:af">پښتو - ps</option>
                  <option value="pt:pt_BR:0:br">Português - pt_BR</option>
                  <option value="pt:pt_PT:0:pt">Português - pt_PT</option>
                  <option value="ro:ro_RO:0:ro">Română - ro_RO</option>
                  <option value="ru:ru_RU:0:ru">Русский - ru_RU</option>
                  <option value="si:si_LK:0:lk">සිංහල - si_LK</option>
                  <option value="sk:sk_SK:0:sk">Slovenčina - sk_SK</option>
                  <option value="sl:sl_SI:0:si">Slovenščina - sl_SI</option>
                  <option value="so:so_SO:0:so">Af-Soomaali - so_SO</option>
                  <option value="sq:sq:0:al">Shqip - sq</option>
                  <option value="sr:sr_RS:0:rs">Српски језик - sr_RS</option>
                  <option value="su:su_ID:0:id">Basa Sunda - su_ID</option>
                  <option value="sv:sv_SE:0:se">Svenska - sv_SE</option>
                  <option value="ta:ta_LK:0:lk">தமிழ் - ta_LK</option>
                  <option value="th:th:0:th">ไทย - th</option>
                  <option value="tl:tl:0:ph">Tagalog - tl</option>
                  <option value="tr:tr_TR:0:tr">Türkçe - tr_TR</option>
                  <option value="ug:ug_CN:0:cn">Uyƣurqə - ug_CN</option>
                  <option value="uk:uk:0:ua">Українська - uk</option>
                  <option value="ur:ur:1:pk">اردو - ur</option>
                  <option value="uz:uz_UZ:0:uz">Oʻzbek - uz_UZ</option>
                  <option value="vec:vec:0:veneto">Vèneto - vec</option>
                  <option value="vi:vi:0:vn">Tiếng Việt - vi</option>
                  <option value="zh:zh_CN:0:cn">中文 (中国) - zh_CN</option>
                  <option value="zh:zh_HK:0:hk">中文 (香港) - zh_HK</option>
                  <option value="zh:zh_TW:0:tw">中文 (台灣) - zh_TW</option>
              </select>

              <select id="language" name="language">
              <option value="apl">apl</option>
              <option value="asciiarmor">asciiarmor</option>
              <option value="asn.1">asn.1</option>
              <option value="asterisk">asterisk</option>
              <option value="brainfuck">brainfuck</option>
              <option value="clike">clike</option>
              <option value="clojure">clojure</option>
              <option value="cmake">cmake</option>
              <option value="cobol">cobol</option>
              <option value="coffeescript">coffeescript</option>
              <option value="commonlisp">commonlisp</option>
              <option value="crystal">crystal</option>
              <option value="css">css</option>
              <option value="cypher">cypher</option>
              <option value="d">d</option>
              <option value="dart">dart</option>
              <option value="diff">diff</option>
              <option value="django">django</option>
              <option value="dockerfile">dockerfile</option>
              <option value="dtd">dtd</option>
              <option value="dylan">dylan</option>
              <option value="ebnf">ebnf</option>
              <option value="ecl">ecl</option>
              <option value="eiffel">eiffel</option>
              <option value="elm">elm</option>
              <option value="erlang">erlang</option>
              <option value="factor">factor</option>
              <option value="fcl">fcl</option>
              <option value="forth">forth</option>
              <option value="fortran">fortran</option>
              <option value="gas">gas</option>
              <option value="gfm">gfm</option>
              <option value="gherkin">gherkin</option>
              <option value="go">go</option>
              <option value="groovy">groovy</option>
              <option value="haml">haml</option>
              <option value="handlebars">handlebars</option>
              <option value="haskell">haskell</option>
              <option value="haskell-literate">haskell-literate</option>
              <option value="haxe">haxe</option>
              <option value="htmlembedded">htmlembedded</option>
              <option value="htmlmixed">htmlmixed</option>
              <option value="http">http</option>
              <option value="idl">idl</option>
              <option value="javascript">javascript</option>
              <option value="jinja2">jinja2</option>
              <option value="jsx">jsx</option>
              <option value="julia">julia</option>
              <option value="livescript">livescript</option>
              <option value="lua">lua</option>
              <option value="markdown">markdown</option>
              <option value="mathematica">mathematica</option>
              <option value="mbox">mbox</option>
              <option value="mirc">mirc</option>
              <option value="mllike">mllike</option>
              <option value="mode.txt">mode.txt</option>
              <option value="modelica">modelica</option>
              <option value="mscgen">mscgen</option>
              <option value="mumps">mumps</option>
              <option value="nginx">nginx</option>
              <option value="nsis">nsis</option>
              <option value="ntriples">ntriples</option>
              <option value="octave">octave</option>
              <option value="oz">oz</option>
              <option value="pascal">pascal</option>
              <option value="pegjs">pegjs</option>
              <option value="perl">perl</option>
              <option value="php">php</option>
              <option value="pig">pig</option>
              <option value="powershell">powershell</option>
              <option value="properties">properties</option>
              <option value="protobuf">protobuf</option>
              <option value="pug">pug</option>
              <option value="puppet">puppet</option>
              <option value="python" selected>python</option>
              <option value="q">q</option>
              <option value="r">r</option>
              <option value="rpm">rpm</option>
              <option value="rst">rst</option>
              <option value="ruby">ruby</option>
              <option value="rust">rust</option>
              <option value="sas">sas</option>
              <option value="sass">sass</option>
              <option value="scheme">scheme</option>
              <option value="shell">shell</option>
              <option value="sieve">sieve</option>
              <option value="slim">slim</option>
              <option value="smalltalk">smalltalk</option>
              <option value="smarty">smarty</option>
              <option value="solr">solr</option>
              <option value="soy">soy</option>
              <option value="sparql">sparql</option>
              <option value="spreadsheet">spreadsheet</option>
              <option value="sql">sql</option>
              <option value="stex">stex</option>
              <option value="stylus">stylus</option>
              <option value="swift">swift</option>
              <option value="tcl">tcl</option>
              <option value="textile">textile</option>
              <option value="tiddlywiki">tiddlywiki</option>
              <option value="tiki">tiki</option>
              <option value="toml">toml</option>
              <option value="tornado">tornado</option>
              <option value="troff">troff</option>
              <option value="ttcn">ttcn</option>
              <option value="ttcn-cfg">ttcn-cfg</option>
              <option value="turtle">turtle</option>
              <option value="twig">twig</option>
              <option value="vb">vb</option>
              <option value="vbscript">vbscript</option>
              <option value="velocity">velocity</option>
              <option value="verilog">verilog</option>
              <option value="vhdl">vhdl</option>
              <option value="vue">vue</option>
              <option value="wast">wast</option>
              <option value="webidl">webidl</option>
              <option value="xml">xml</option>
              <option value="xquery">xquery</option>
              <option value="yacas">yacas</option>
              <option value="yaml">yaml</option>
              <option value="yaml-frontmatter">yaml-frontmatter</option>
              <option value="z80">z80</option>
              </select>
          </div>
          <div class="box sidebar">
              <div class="inline-block">
                  <textarea id="hl_summary" name="hl_summary" class="textarea-style"><%= hl_summary %></textarea>
              </div>
          </div>
          <div class="box content">
              <!--
              <textarea id="ml_source_code" name="ml_source_code" style="margin: 0px; width: 600px; height: 225px;"><%= ml_source_code %></textarea>
              -->
              <div class="inline-block">
                  <textarea id="ml_source_code" name="ml_source_code"><%= ml_source_code %></textarea>
                  <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("ml_source_code"), {
                      mode: {name: "python",
                             version: 3,
                             singleLineStringErrors: false},
                      lineNumbers: true,
                      indentUnit: 4,
                      matchBrackets: true
                  });
                  </script>
              </div>
          </div>
          <div class="box footer"><%= footer %></div>
        </div>


    </form>
    <!--
    <form action="/registXhr" method="post">
        <input id="token" type="hidden" name="_csrf" value="<%= reqCsrf %>">
        <input type="submit" value="送信(Token有 Xhr無)">
    </form>
    <input id="xhrSubmit" type="submit" value="Ajax送信(Token有)">
    -->


  </body>
</html>
